.newnew{
    background-color: white;
    font-family: calibri;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dropdown{
    min-width: 10em;
    position: relative;
    margin: 2em;
}
.dropdown *{
box-sizing: border-box;
}

.select{
    background-color: #2a2f3b ;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor:pointer;
    transition: background 0.3s;
}

.select-clicked{
    border:2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}
.select:hover{
    background: royalblue;
    text-decoration-color: black;

}
.caret{
    width:0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition:0.3s;
    }

    .caret-rotate{
        transform: rotate(180deg);

    }
    .menu{
        list-style: none;
        padding: 0.2em 0.5em;
        background-color: #323741;
        border:1px#363a43 solid;
        border:1px #363a43 solid ;
        box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
        border-radius: 0.5em;
        color:#9fa5b5;
        position: absolute;
        top:4em;
        left:50%;
        width:100%;
        transform: translateX(-50%);
        opacity: 0;
        display:none;
        transform: 0.2s;
        z-index: 1;
    }
.menu li{
    padding:0.7em 0.5em;
    margin:0.3em 0;
    border-radius:0.5em;
    cursor: pointer;
}
.menu li:hover{
    background: #2a2d35;
}

.active{
    background:#23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}







/* Default styles */

/* Add your default styles here */

/* Responsive styles */

@media (max-width: 768px) {
    /* Styles for devices with a maximum width of 768px */
  
    /* Modify the dropdown and menu to fit smaller screens */
    .dropdown {
      min-width: 8em;
      margin: 1em;
    }
    .menu {
      top: 4em;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for devices with a maximum width of 480px */
  
    /* Modify the dropdown and menu to fit smaller screens */
    .dropdown {
      min-width: 6em;
      margin: 0.5em;
    }
    .menu {
      top: 5em;
    }
  
    /* Adjust font sizes or other styles as needed */
  }
  








