<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domo Real Estate</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="index.html"><img src="images/domologo.png" alt="DoMo"></a>

            <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation">
                
                <ul class="primary-nav">

                </ul>

                <ul class="secondary-nav">
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="project.html">Buy</a></li>
                    <li><a href="indexlogin.html">Sell</a></li>
                    <li><a href="D_blog_grid.html">Blogs</a></li>
                    <li><a href="D_projects.html">Projects</a></li>
                    <li><a href="D_about_us.html">About Us</a></li>
                    <li class="go-premium-cta"><a href="D_Contact_us.html">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="hero">
        <div class="container">
            <div class="left-col">
                
                <h1>One Stop Place For All Your Housing Needs</h1>

               
            </div>
            


        </div>
        <div class="search-container">
            <!-- <strong><i class="fa-solid fa-magnifying-glass"></i> Search</strong> -->
            <form class="search-box" method="GET" action="/search">
          
                <!--city-->
                <select name="city" id="city">
                    <!-- (the django code) {% for city in city%}
                        <option value="{{city.city}}">{{city.city}}</option>
                    {% endfor %} -->
                    <option>Sion</option>
                    <option>Thane</option>
                    <option>Worli</option>
                    <option>Seawoods</option>
                </select>

                <select name="buy_rent" id="buy_rent">
                    <option>Buy</option>
                    <option>Rent</option>
                </select>
          
                <select name="category" id="category">
                    <!-- (the django code) {% for category in category%}
                        <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %} -->
                    <option>1 Bhk</option>
                    <option>2 Bhk</option>
                    <option>3 Bhk</option>
                    <option>4 Bhk</option>
                </select>
                <!-- <input  type="number" name="minprice" placeholder="Min Price"/>
                <input  type="number" name="maxprice" placeholder="Max Price"/>
                <input type="submit" value="Search"> -->
                <select name="price" id="price">
                    <option>2 - 3 lac</option>
                    <option>3 - 4 lac</option>
                    <option>5 - 6 lac</option>
                    <option>6 - 7 lac</option>
                    <option>7 - 8 lac</option>
                </select>
                <a href="project.html"><input type="submit"  value="Search" action></a>
            </form>
        </div>
    </section> 
    <section class="features-section">
        <div class="feature-container">
            <ul class="features-list">
                <li>Unlimited Tasks</li>
                <li>SMS Task Reminders</li>
                <li>Confetti Explosions upon Task Completions</li>
                <li>Social Media Announcements</li>
                <li>Real Time Collaboration</li>
                <li>Other awesome features</li>
            </ul>

            <img src="images/room2.jpg" alt="small room photo">
        </div>
    </section>
    <section class="video">
        <h2>DOMO</h2>
        <video id='myVideo' controls width="500">
          <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm> 
        </video>
      </section>

    <section class="testimonials-section">
        <div class="container">
            <ul>
                <li>
                    <img src="images/person.jpg" alt="Person">

                    <blockquote>"The experience of buying a house was very smooth"</blockquote>
                    <cite>- Rahul</cite>
                </li>
                <li>
                    <img src="images/person.jpg" alt="Person">

                    <blockquote>"Very professional and punctual"</blockquote>
                    <cite>- Diya</cite>
                </li>
                <li>
                    <img src="images/person.jpg" alt="Person">

                    <blockquote>"The rental process was seamless and quick"</blockquote>
                    <cite>- Rohit</cite>
                </li>
            </ul>
        </div>
    </section>

    <footer class="footer-distributed">
    
                <div class="footer-left">
    
                    <a class="logofooter" href="#"><img src="images/domologo.png" alt="DoMofooter"></a>
    
                    <p class="footer-links">
                        <a href="#" class="link-1">Home</a>
                        
                        <a href="#">Rental</a>
                    
                        <a href="#">Corporate</a>
                    
                        <a href="#">Blogs</a>
                        
                        <a href="#">About Us</a>
                        
                        <a href="#">Contact Us</a>
                    </p>
    
                    <p class="footer-company-name">Company Name © 2015</p>
                </div>
    
                <div class="footer-center">
    
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Kamala Mills</span> Sion, Mumbai</p>
                    </div>
    
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+91 9896985327</p>
                    </div>
    
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">support@domo.com</a></p>
                    </div>
    
                </div>
    
                <div class="footer-right">
    
                    <p class="footer-company-about">
                        <span>About the company</span>
                       Market leaders in rentals, leasing and out-right buying.
                    </p>
    
                    <div class="footer-icons">
    
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
    
                    </div>
    
                </div>
    
            </footer>
    <script>
        const mobileBtn = document.getElementById('mobile-cta')
              nav = document.querySelector('nav')
              mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })
    </script>
    <script src="https://kit.fontawesome.com/ffe2fa34cb.js" crossorigin="anonymous"> </script>
    <script src="scripts.js"></script>
    <script>
        let options = {
            root:null,
            rootMargin:'0px',
            threshold:1.0
        };
    
        let callback = (entries, observer)=>{
            entries.forEach(entry => {
                if(entry.target.id=='myVideo')
                {
                    if(entry.isIntersecting){
                        entry.target.play();
                    }
                    else{
                        entry.target.pause();
                    }
                }
            });
        }
        
        let observer = new IntersectionObserver(callback, options);
        observer.observe(document.querySelector('#myVideo'));
    </script>

    
</body>
</html>