@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007AF3;
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        display: inline-block;
        height: 50px;
      }
      
      .logo img {
        height: 100%;
      }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #444444;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}

section {
    padding: 5em 2em;
}


.hero {
    text-align: center;
    background-image: url('images/Build One.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

.left-col {

    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            margin-right: .5em;
        }
    }
}

.hero-img {
    width: 70%;
    margin-top: 3em;
}

section.features-section {
    background: #3a2ebb;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
}

.features-section img {
    display: none;
}

.testimonials-section {
    background: var(--primary-color);
    color: white;

    li {
        background: #006BD6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;

        img {
            width: 5em;
            height: 5em;
            border: 5px solid #006BD6;
            border-radius: 50%;
            margin-top: -4.5em;
        }
    }

}
.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
  
    &.white-heading {
      color: #ffffff;
  
      &:after {
        background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
      }
  
      span {
        color: #ffffff;
      }
    }
  
    &:after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 50%;
      height: 40px;
      width: 180px;
      border-radius: 4px;
      transform: translateX(-50%);
      background: url(img/heading-line.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  
    span {
      font-size: 18px;
      display: block;
      font-weight: 500;
    }
  }
  
  .testimonial {
    min-height: 375px;
    position: relative;
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
  
    &:after {
      position: absolute;
      top: -0 !important;
      left: 0;
      content: " ";
      background: url(img/testimonial.bg-top.png);
      background-size: 100% 100px;
      width: 100%;
      height: 100px;
      float: left;
      z-index: 99;
    }
  
    &.testimonial4 {
      #testimonial4 {
        .carousel-inner:hover {
          cursor: -moz-grab;
          cursor: -webkit-grab;
        }
  
        .carousel-inner:active {
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
  
        .carousel-inner .item {
          overflow: hidden;
        }
  
        & .testimonial4_indicators {
          .carousel-indicators {
            left: 0;
            margin: 0;
            width: 100%;
            font-size: 0;
            height: 20px;
            bottom: 15px;
            padding: 0 5px;
            cursor: e-resize;
            overflow-x: auto;
            overflow-y: hidden;
            position: absolute;
            text-align: center;
            white-space: nowrap;
  
            li {
              padding: 0;
              width: 14px;
              height: 14px;
              border: none;
              text-indent: 0;
              margin: 2px 3px;
              cursor: pointer;
              display: inline-block;
              background: #ffffff;
              border-radius: 100%;
  
              &.active {
                padding: 0;
                width: 14px;
                height: 14px;
                border: none;
                margin: 2px 3px;
                background-color: #9dd3af;
                border-radius: 100%;
              }
            }
  
            &::-webkit-scrollbar {
              height: 3px;
            }
  
            &::-webkit-scrollbar-thumb {
              background: #eeeeee;
              border-radius: 0;
            }
          }
        }
  
        & .testimonial4_control_button {
          .carousel-control {
            top: 175px;
            opacity: 1;
            width: 40px;
            bottom: auto;
            height: 40px;
            font-size: 10
          }}  }}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;

        li {
            font-size: 1.4em;

            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }

    .features-section {
        position: relative;
    }

    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .testimonials-section ul {
        display: flex;
        
        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;

        .container {
            display: flex;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 1450px) {
    .features-section {

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}
  }