.card-container1 {
  display: flex;
  justify-content: space-between;
  margin: 20px white;
  padding: 30px;

}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1347%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1348)'%3e%3c/rect%3e%3cpath d='M1440 0L1407.89 0L1440 245.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1407.89 0L1440 245.1L1440 406.9L1405.91 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1405.91 0L1440 406.9L1440 477.66999999999996L1066.0300000000002 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1066.03 0L1440 477.66999999999996L1440 508.78999999999996L721.93 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L221.52 560L0 515.71z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 515.71L221.52 560L324.83000000000004 560L0 263.28000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 263.28L324.83000000000004 560L644.6 560L0 99.13999999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 99.13999999999999L644.6 560L1122.65 560L0 34.43999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1347'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1348'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 71%2c 163%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Public Sans', sans-serif;
}

.hihi {
  font-family: 'Public Sans', sans-serif;
}

.card1 {
  width: calc(33.33% - 10px);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;

}

.card1 img {
  width: 300px;
  height: 300px;
}

.card1 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

.card1-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card1-button:hover {
  background-color: #0062cc;
}

.card1-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.card1-button:active {
  background-color: #005cbf;
  transform: translateY(1px);
}




.footer-distributed {
  background: #050144;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left .logofooter {
  display: inline-block;
  height: 50px;
}

.footer-distributed .footer-left .logofooter img {
  height: 100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed,
.footer-center,
i.fa-envelope {
  font-size: 14px;
  line-height: 18px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video h2 {
  margin-top: 20px;
}

video {
  margin-top: 20px;
}


.search-heading {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

.search-heading h1 {
  color: #161616;
  font-weight: 600;
  font-size: 2rem;
}

.search-heading h1 i {
  font-size: 0.9rem;
  color: #105be7;
}

.search-not-found {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}

.search-not-found img {
  width: 70%;
  object-fit: contain;
  object-position: center;
}

.search-not-found span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f82020;
  margin-top: 40px;
}

.search-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 90%;
  margin: 0px auto;
}

.search-container strong {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.6;
  color: #0f1012;
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 750px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;

  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
}

.search-box input[type="number"] {
  width: 100%;
  padding: 0px 10px;
  height: 45px;
  margin-right: 10px;
  outline: none;
  border: 1px solid #eeeeee;
  background-color: #f7f7f7;
}

.search-box input[type="submit"] {
  width: 250px;
  height: 45px;
  background-color: #126dff;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.search-box select {
  max-width: 120px;
  width: 100%;
  height: 45px;
  padding: 0px 7px;
  border: none;
  background-color: #f7f7f7;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}

@media(max-width:720px) {
  .search-heading h1 {
    font-size: 1.2rem;
  }

  .search-not-found span {
    font-size: 1rem;
  }
}

@media(max-width:600px) {
  .search-box {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  .search-box select,
  .search-box input {
    width: 100%;
    max-width: 100%;
  }

  .search-box input {
    grid-column: 1/3;
  }

  .search-box input[type="submit"] {
    max-width: 100%;
    width: 100%;
  }
}

@media(max-width:300px) {
  .search-box {
    grid-template-columns: 1fr;
  }

  .search-box input {
    grid-column: 1/2;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --primary-color: #007AF3;
}

.navbar {
  margin: 0;
}

.navbar {
  background: white;
  padding: 0.5em;
  padding-left: 1em;
  height: 70px;
  align-items: center;
}

.navbar .logo {
  display: inline-block;
  height: 45px;
  width: 100%;
}


.navbar .logo img {
  height: 100%;

}

/* Other styles for the navigation and mobile menu icons go here */

.navbar nav {
  display: none;
}

.navbar .container5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Add this line */
  padding-top: 10px;
  /* Adjust this value as needed */
}

.navbar .mobile-menu {
  cursor: pointer;
  padding-top: 10px;
}


s a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;

}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: center;
}


nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {

  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container5 {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;


  }

  .navbar .logo img {
    height: 100%;
  }

  .navbar .logo {
    display: inline-block;
    position: absolute;
    left: 48%;
    height: 80px;
    width: 20%;
    transform: translateX(-5%);
    padding-bottom: 30px;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: 60px;
    width: 100%;
    padding: 0px;
    padding-left: 50px;
    align-items: center;
  }

  .navbar nav ul {
    display: flex;
    padding-right: 0.5em;
  }

  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }

  .navbar .tertiary-nav {
    position: absolute;
    right: 0%;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  .navbar .secondary-nav {
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar nav ul.primary-nav {
    margin: 0;
  }

  .navbar nav li.current a {
    font-weight: bold;
  }

  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }

  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media only screen and (min-width: 1080px) {
  .container5 {

    margin: 0 auto;
  }

  .primary-cta {
    margin-right: 1em;
  }
}