@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
:root {
    --primary-color: #007AF3;
  }
  body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
  }
  nav {
    font-family: 'Poppins';
  }
  .navbar {
    background: white;
    padding: 0.5em;
    padding-left: 1em;
    height: 50px;
    align-items: center;
  }

  .navbar .logo {
    display: inline-block;
    height: 45px;
    width: 100%;
  }

  
  .navbar .logo img {
    height: 100%;

  }
  
  /* Other styles for the navigation and mobile menu icons go here */
  
  .navbar nav {
    display: none;
  }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    padding-top: 10px; /* Adjust this value as needed */
  }
  
  .navbar .mobile-menu {
    cursor: pointer;
    padding-top: 10px;
  }
  

  s

  a {
    color: #444444;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav.menu-btn {
    display: block;
  }

  nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
    
  }
  nav ul.primary-nav {
    margin-top: 5em;
  }
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: center;
  }


  nav li a:hover {
    font-weight: bold;
  }
  
  .mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 1024px) {
    .mobile-menu, .mobile-menu-exit {
      display: none;
    }
    .navbar .container {
      display: grid;
      grid-template-columns: 180px auto;
      justify-content: unset;
    }
    .navbar .logo img {
      height: 100%;
    }
    
    .navbar .logo {
      display: inline-block;
      position: absolute;
      left:48%;
      height: 50px;
      width: 0%;
      transform: translateX(-5%);
      padding-bottom: 30px;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height:60px ;
      width: 100%;
      padding: 0;
      align-items: center;
    }
    .navbar nav ul {
      display: flex;
      padding-right: 0.5em;
    }
    .navbar nav a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }
    .navbar .tertiary-nav {
      position: absolute;
      right:0%;
      padding-right: 30px;
      padding-bottom: 20px;
      text-align: center;
  }
  .navbar .secondary-nav {
    text-align: center;
    padding-bottom: 20px;
}
    .navbar nav ul.primary-nav {
      margin: 0;
    }
    .navbar nav li.current a {
      font-weight: bold;
    }
    .navbar nav li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;
    }
    .navbar nav li.go-premium-cta a:hover {
      background: var(--primary-color);
      color: white;
    }
  }
  @media only screen and (min-width: 1080px) {
    .container {
      
      margin: 0 auto;
    }
 
    .primary-cta {
      margin-right: 1em;
    }}