@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*{
margin: 0;
padding: 0;
box-sizing: border-box;}
body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1347%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1348)'%3e%3c/rect%3e%3cpath d='M1440 0L1407.89 0L1440 245.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1407.89 0L1440 245.1L1440 406.9L1405.91 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1405.91 0L1440 406.9L1440 477.66999999999996L1066.0300000000002 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1066.03 0L1440 477.66999999999996L1440 508.78999999999996L721.93 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L221.52 560L0 515.71z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 515.71L221.52 560L324.83000000000004 560L0 263.28000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 263.28L324.83000000000004 560L644.6 560L0 99.13999999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 99.13999999999999L644.6 560L1122.65 560L0 34.43999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1347'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1348'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 71%2c 163%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size:cover;
    margin: 0;
    font-family: "Poppins";
}
.flexone{flex: 1;}



.groups{
    margin: 0 auto;
    width: 780px;
    padding: 10px;
    height: auto;}
.groups li{
    position: relative;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 #0001;
    overflow: hidden;margin-bottom: 30px;
    transition: all 0.3s;}
.groups li:hover{
    transform: scale(1.04);
    box-shadow: 0 4px 14px 0 #0005;}
.groups .card{
    overflow: hidden;
    display: block;}
.groups .image-session{
    float: left;
    overflow: hidden;
    margin-right: 20px;}
.groups .image-session .image{
    width: 280px;
    height: 220px;
    display: block;
    background-size: cover;
    background-position: center;}
.groups .meta-sission{
    position: relative;
    padding: 15px;
    display: block;
    height: 220px;}
.groups .meta-sission .head{
    display: flex;
    margin-bottom: 10px;}
.groups .meta-sission .head .catogry{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #0075ff;}
.meta-sission .head .per span,
.meta-sission .head .per input{
    display: block;
    font-size: 15px;
    text-align: right;
color: #0075ff;}
.meta-sission .head .per input{
    
    height: 10px;
    border-radius: 5px;
    background: #0075ff;
    margin-bottom: 4px;
    overflow: hidden;}
.meta-sission .head .per input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #0075ff;}
.groups .body .title{height: 30px;
    overflow: hidden;
    font-size: 15px;}
.groups .body .desc{height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 13px;}
.groups .footer .button{position: absolute;
    bottom: 20px;
    right: 25px;
    background: #0075ff;
    color: #fff;
    line-height: 2.2;
    padding: 0 20px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .footer .button:hover{box-shadow: 0 3px 8px 0 #0005;
    background: #063a78;
    right: 15px;}


.groups .footer .views{display: block;
    font-size: 12px;
    margin-top: 40px;}

@media screen and (max-width:780px){.groups{    width: 96%;}
    .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:560px){.groups .image-session{    float: none;    margin-right: 0;}
    .groups .image-session .image{width: 100%;}
}


:root {
  --primary-color: #007AF3;
}


.navbar {
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
}
.navbar .logo {
  display: inline-block;
  height: 50px;
}

.navbar .logo img {
  height: 100%;
}

/* Other styles for the navigation and mobile menu icons go here */

.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line */
  padding-top: 10px; /* Adjust this value as needed */
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    background-color: white;
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
    padding-right: 0.5em;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  .container {

    margin: 0 auto;
  }
  .feature-container{
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}/*# sourceMappingURL=main.css.map */





.footer-distributed{
	background: #050144;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left .logofooter {
  display: inline-block;
  height: 50px;
}

.footer-distributed .footer-left .logofooter  img {
  height: 100%;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video h2 {
  margin-top: 20px;
}

video {
  margin-top: 20px;
}


.search-heading{
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.search-heading h1{
  color: #161616;
  font-weight: 600;
  font-size: 2rem;
}
.search-heading h1 i{
  font-size: 0.9rem;
  color: #105be7;
}
.search-not-found{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}
.search-not-found img{
  width: 70%;
  object-fit: contain;
  object-position: center;
}
.search-not-found span{
  font-size: 1.2rem;
  font-weight: 500;
  color: #f82020;
  margin-top: 40px;
}
.search-container{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 90%;
  margin: 0px auto;
}
.search-container strong{
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.6;
  color: #0f1012;
}
.search-box{
  display: flex;
  width: 100%;
  max-width: 750px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
 
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
}
.search-box input[type="number"]{
  width: 100%;
  padding:0px 10px;
  height: 45px;
  margin-right: 10px;
  outline: none;
  border: 1px solid #eeeeee;
  background-color: #f7f7f7;
}
.search-box input[type="submit"]{
  width: 250px;
  height: 45px;
  background-color: #126dff;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.search-box select{
  max-width: 120px;
  width: 100%;
  height: 45px;
  padding: 0px 7px;
  border: none;
  background-color: #f7f7f7;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}
@media(max-width:720px){
  .search-heading h1{
      font-size: 1.2rem;
  }
  .search-not-found span{
      font-size: 1rem;
  }
}
@media(max-width:600px){
  .search-box{
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr 1fr;
  }
  .search-box select,
  .search-box input{
      width: 100%;
      max-width: 100%;
  }
  .search-box input{
      grid-column: 1/3;
  }
  .search-box input[type="submit"]{
      max-width: 100%;
      width: 100%;
  }
}
@media(max-width:300px){
  .search-box{
      grid-template-columns: 1fr;
  }
  .search-box input{
      grid-column: 1/2;
  }
}


:root {

  /*======== colors =========*/

  --oxford-blue_60: hsla(224, 34%, 13%, 0.6);
  --green-pigment: hsl(202, 86%, 51%);
  --oxford-blue: hsl(224, 34%, 13%);
  --maximum-red: hsl(0, 72%, 51%);
  --eerie-black: hsl(0, 0%, 9%);
  --mint-cream: hsl(146, 41%, 97%);
  --cadet-gray: hsl(215, 20%, 65%);
  --light-gray: hsl(216, 12%, 84%);
  --carcoal_20: hsla(214, 19%, 29%, 0.2);
  --carcoal_15: hsla(214, 19%, 29%, 0.15);
  --carcoal_10: hsla(214, 19%, 29%, 0.10);
  --sea-green: hsl(205, 77%, 41%);
  --gainsboro: hsl(220, 13%, 91%);
  --white_70: hsla(0, 0%, 100%, 0.7);
  --gunmetal: hsl(215, 28%, 17%);
  --manatee: hsl(218, 11%, 65%);
  --mango: hsl(43, 96%, 56%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /*======= typography ========*/

  --ff-spartan: 'League Spartan', sans-serif;

  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.8rem;
  --fs-5: 1.7rem;

  --fw-600: 600;
  --fw-500: 500;

  /*======== spacing =========*/

  --section-padding: 35px;

  /*======= shadow =======*/

  --shadow-1: 0 1px 2px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 10px 15px -5px var(--carcoal_20);
  --shadow-3: 0 10px 25px -3px var(--carcoal_20);
  --shadow-4: 0 0 3px var(--carcoal_15);
  --shadow-5: 0 20px 25px -5px var(--carcoal_10),
              0 10px 10px -5px var(--carcoal_10);

  /*======== border radius ========*/

  --radius-16: 16px;
  --radius-12: 12px;
  --radius-6: 6px;
  --radius-4: 4px;

  /*======== transition =========*/

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}
/*========= RESET =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { 
  list-style: none; 
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
label,
input,
select,
button,
ion-icon { 
  display: block;
}

img { 
  height: auto; 
}

input,
select,
button {
  background: none;
  border: none;
  font: inherit;
}

input,
select { 
  width: 100%; 
}

button { 
  cursor: pointer; 
}

ion-icon { 
  pointer-events: none; 
}

address { 
  font-style: normal; 
}

html {
  font-family: var(--ff-spartan);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: var(--fs-5);
  color: var(--cadet-gray);
}

/*======== REUSABLE STYLE ==========*/

.contain { 
  padding-inline: 15px; 
}

.btn {
  background-color: var(--green-pigment);
  color: var(--white);
  font-weight: var(--fw-500);
  max-width: max-content;
  padding: var(--padding, 12px 28px);
}

.btn:is(:hover, :focus) { 
  background-color: var(--sea-green); 
}

.btn-secondary { 
  border-radius: 50px; 
}

.btn-primary { 
  border-radius: var(--radius-6); 
}

.h1 { 
  font-size: var(--fs-1); 
}

.h2,
.h3 {
  color: var(--oxford-blue);
  line-height: 1.5;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-500);
}

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}

.section { padding-block: var(--section-padding); }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--gainsboro);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title { 
  color: var(--oxford-blue); 
}

.section-text { 
  line-height: 1.6; 
}

/*=========== main ==========*/
.article{
    position: relative;
}

.hero{
    padding-block-start: 80px;
}

.hero-form-wrapper{
    background-color: var(--white);
    margin-block-start: -100px;
    width: calc(100% - 10px);
    margin-inline: auto;
    border-radius: var(--radius-8);
    box-shadow: var(--shadow-2);
    overflow: hidden;
}

.form-tab{
    padding: 16px;
    border-block-end: 1px solid var(--gainsboro);
    display: flex;
    justify-content: center;
}

.tab-btn{
    padding: 12px 24px;
    color: var(--oxford-blue);
    font-weight: var(--fw-500);
    border-radius: var(--radius-6);
    transition: var(--transition);
}

.tab-btn :is(:hover, :focus){
    color: var(--white);
    background-color: var(--green-pigment);
}

.hero-form{
    display: grid;
    gap: 25px;
    padding: 25px;
}

.hero-form .input-wrapper{
    position: relative;
}

.hero-form:is(.input-label, .input-field){
    color: var(--oxford-blue);
}

.hero-form .input-label{
    font-weight: var(--fw-500);
    margin-block-end: 10px;
}

.hero-form :is(.input-field, .dropdown-list){
    min-height: 40px;
    border: 1px solid var(--gainsboro);
    border-radius: var(--radius-4);
    outline: none;
    transition: var(--transition);
}

.hero-form :is(.input-field, .dropdown-list):focus{
    border-color: var(--green-pigment);
}

.hero-form .input-wrapper ion-icon{
    position: absolute;
    top: 50%;
    transform: translateY(20%);
    left: 15px;
    color: var(--oxford-blue);
    --ionicon-stroke-width: 20px
}

.hero-form .input-field{
    padding-inline: 45px 15px;
}

.hero-form .input-field::placeholder{
    color: var(--manatee);
}

.hero-form .dropdown-lis{
    padding-inline: 15px;
}

.hero-form .btn{
    max-width: 100%;
}


/*========== PROPERTIES =========*/

.property :is(.section-title, .section-text){
    text-align: center;
}

.property .section-text{
    margin-block: 15px 60px;
}

.property-list{
    display: grid;
    gap: 30px;
}

.property-card{
    background-color:white;
    position: relative;
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-4);
    overflow: hidden;
    transition: var(--transition);
}

.property-card:is(:hover, :focus-within){
    box-shadow: var(--shadow-5);
}

.property-card .card-action-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--white);
    color: var(--maximum-red);
    padding: 12px;
    border-radius: 50px;
}

.property-card .card-content{
    color: var(--oxford-blue);
    padding: 25px;
}

.property-card .card-title{
    font-size: var(--fs-4);
    transition: var(--transition);
}

.property-card .card-title:is(:hover, :focus){
    color: var(--green-pigment);
}

.property-card .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 15px;
    padding-block: 30px;
    border-block: 1px solid var(--gainsbro);
    margin-block: 30px;
}

.property-card .card-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.property-card .item-icon{
    color: var(--green-pigment);
    font-size: 24px;
}

.property-card .item-icon ion-icon{
    --ionicon-stroke-width: 40px
}

.property-card .card-meta{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.property-card .meta-title{
    color: var(--cadet-gray);
    margin-block-end: 10px;
}

.property-card .meta-text{
    font-size: var(--fs-4);
    font-weight: var(--fw-500);
    display: flex;
    gap: 8px;
}




/* back to top */

.back-top-btn{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--green-pigment);
    color: white;
    font-size: 14px;
    padding: 12px;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 4;
}

.back-top-btn:active{
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}


/*=========== Media Queries */

@media (min-width: 640px){
    .container{
        max-width: 640px;
        width: 100%;
        margin-inline: auto;
    }

    .hero .container{
        max-width: unset;
    }

    .hero-form-wrapper{
        max-width: 600px;
        margin-inline: auto;
        background-color: unset;
    }

    .hero .form-tab,
    .hero-form{
        background-color: var(--white);
    }

    .hero .form-tab{
        max-width: max-content;
        border-top-left-radius: var(--radius-16);
        border-top-right-radius: var(--radius-16);
    }

    .hero-form{
        border-top-right-radius: var(--radius-16);
    }

    .footer{
        padding-block-start: 130px;
    }
}

@media (min-width: 768px){
    :root{
        --fs-2: 3rem
    }

    .container,
    .hero-form-wrapper{
        max-width: 700px;
    }

    .section-text{
        max-width: 55ch;
        margin-inline: auto;
    }

    .hero-content{
        text-align: left;
        padding-inline: calc(50% - 350px);
    }

    .hero-title{
        margin-inline: 0;
    }

    .hero-text{
        max-width: 50ch;
    }

    .hero-form{
        grid-template-columns: 1fr 1fr;
    }

    .about .container{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        align-items: center;
        gap: 30px;
    }

    .about-banner{
        margin-block-end: 0;
    }

    .service-list,
    .property-list{
        grid-template-columns: 1fr 1fr;
    }

    .footer{
        padding-block-start: 80px;
    }

    .footer-top .container{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }

    .footer-brand{
        grid-column: 1 / 4;
    }

    .footer-bottom .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright{
        margin-block-end: 0;
    }
}

@media (min-width: 992px){
    :root{
        --fs-1: 4.8rem;
        --section-padding: 40px
    }

    .container,
    .hero-form-wrapper{
        max-width: 900px;
    }

    .header > .container{
        gap: 30px;
    }

    .header .btn{
        margin-inline-start: 0;
    }

    .hero-content{
        padding-inline: calc(50% - 450px);
    }

    .hero-form{
        grid-template-columns: repeat(4, 1fr);
    }

    .about .container{
        gap: 50px
    }

    .service-list,
    .property-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-brand{
        grid-column: auto;
    }

    .footer-top .container{
        grid-template-columns: 1fr 0.5fr 0.6fr 0.7fr;
    }
}

@media (min-width: 1200px){
    .container,
    .hero-form-wrapper{
        max-width: unset;
    }

    .hero-content{
        padding-inline: calc(50% - 560px)
    }

    .about .section-text{
        max-width: unset;
    }
}

@media (max-width: 768px){
    .wrapper .text{
        width: 80%;
    }

    .wrapper .text{
        height: 600px;
    }
}